---
layout: default
---
<style>
.blog {
  margin-bottom: 2rem;
}
.blog h1 {
  margin-bottom: 2rem;
}
.blog h3 {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: thin dashed lightgrey;
}
.blog p{
  margin-bottom: 1.5rem;
}
.post{
  margin-bottom: 2rem;
  padding-top: 2rem;
}
.post h2 {
  font-size: 2.3rem;
}
.post img {
  padding: 1.5rem 0;
}
</style>
<div class="blog">
    <div class="row">
        <div class="col-md-12">
          <h1>Portfolio</h1>
          <h3>{{site.folio_desc}}</h3>
          {% for post in site.posts %}
          {% if post.type == "featured" %}
          <div class="col-md-4">
            <div class="post">
              <a class="post-link" href="{{ post.url}}">
                <img src="{{post.horizontal-photo}}"/>
              </a>
              <a class="post-link" href="{{ post.url}}">
                <h2>{{post.title}}</h2>
              </a>
              <p>{{post.desc}}</p>
              <p>{{post.date | date: "%b %-d, %Y"}}</p>
            </div>
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
  </div>
