---
layout: default
---
<style>
@media (max-width: 667px) {
    header.site-header {
      display: block;
      position: relative;
      max-width: none;
    }
    header .site-title {
      width: 100%;
      font-size: 3rem;
      padding-left: 15px;
    }
    header .site-desc {
      display: none;
    }
    header .site-nav {
      font-size: 16px;
      margin-top: 1rem;
    }
    header .site-nav ul li {
      display: inline;
      padding-right: 20px;
    }
    .page-content {
      margin-left: 0;
    }
    .row {
      margin: 0;
    }
}
.blog {
  margin-bottom: 2rem;
}
.blog h1 {
  margin-bottom: 2rem;
}
.blog h3 {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: thin dashed lightgrey;
}
.blog p{
  margin-bottom: 1.5rem;
}
.post{
  margin-bottom: 2rem;
  padding-top: 2rem;
}
.post h2 {
  font-size: 2.3rem;
}
.post img {
  padding: 1.5rem 0;
  max-height: 200px;
  max-width: 300px;
}
</style>
<div class="blog">
    <div class="row">
        <div class="col-md-12">
          <h1>Portfolio</h1>
          <h3>{{site.folio_desc}}</h3>
            <div class="row">
                <h4>Data Journalism</h4>
                {% for post in site.posts %}
                {% if post.type == "featured" and post.genre == "data" %}

                  <div class="col-md-4" style="min-height:583px">
                    <div class="post">
                      <a class="post-link" href="{{ post.url}}">
                        <img src="{{post.horizontal-photo}}"/>
                      </a>
                      <a class="post-link" href="{{ post.url}}">
                        <h2>{{post.title}}</h2>
                      </a>
                      <p>{{post.desc}}</p>
                      {% if post.awards %}
                      <b>Relevant awards: </b>
                      {%for award in post.awards%}
                      {{award}}{% if forloop.last == false%},{%endif%}
                      {% endfor %}
                      {% endif %}
                      <p>{{post.date | date: "%b %-d, %Y"}}</p>
                      </div>
                  </div>

                {% endif %}
                {% endfor %}
              </div>

              <div class="row">
                <h4>Investigative Reports</h4>
                {% for post in site.posts %}
                {% if post.type == "featured" and post.genre == "investigative" %}

                  <div class="col-md-4" style="min-height:583px">
                    <div class="post">
                      <a class="post-link" href="{{ post.url}}">
                        <img src="{{post.horizontal-photo}}"/>
                      </a>
                      <a class="post-link" href="{{ post.url}}">
                        <h2>{{post.title}}</h2>
                      </a>
                      <p>{{post.desc}}</p>
                      {% if post.awards %}
                      <b>Relevant awards: </b>
                      {%for award in post.awards%}
                      {{award}}{% if forloop.last == false%},{%endif%}
                      {% endfor %}
                      {% endif %}
                      <p>{{post.date | date: "%b %-d, %Y"}}</p>
                      </div>
                  </div>

                {% endif %}
                {% endfor %}
              </div>

              <div class="row">
                <h4>Longform</h4>
                {% for post in site.posts %}
                {% if post.type == "featured" and post.genre == "magazine" %}

                  <div class="col-md-4" style="min-height:583px">
                    <div class="post">
                      <a class="post-link" href="{{ post.url}}">
                        <img src="{{post.horizontal-photo}}"/>
                      </a>
                      <a class="post-link" href="{{ post.url}}">
                        <h2>{{post.title}}</h2>
                      </a>
                      <p>{{post.desc}}</p>
                      {% if post.awards %}
                      <b>Relevant awards: </b>
                      {%for award in post.awards%}
                      {{award}}{% if forloop.last == false%},{%endif%}
                      {% endfor %}
                      {% endif %}
                      <p>{{post.date | date: "%b %-d, %Y"}}</p>
                      </div>
                  </div>

                {% endif %}
                {% endfor %}
              </div>

              <div class="row">
                <h4>Daily News Reporting</h4>
                {% for post in site.posts %}
                {% if post.type == "featured" and post.genre == "news" %}

                  <div class="col-md-4" style="min-height:583px">
                    <div class="post">
                      <a class="post-link" href="{{ post.url}}">
                        <img src="{{post.horizontal-photo}}"/>
                      </a>
                      <a class="post-link" href="{{ post.url}}">
                        <h2>{{post.title}}</h2>
                      </a>
                      <p>{{post.desc}}</p>
                      {% if post.awards %}
                      <b>Relevant awards: </b>
                      {%for award in post.awards%}
                      {{award}}{% if forloop.last == false%},{%endif%}
                      {% endfor %}
                      {% endif %}
                      <p>{{post.date | date: "%b %-d, %Y"}}</p>
                      </div>
                  </div>

                {% endif %}
                {% endfor %}
              </div>
        </div>
      </div>
  </div>
